@font-face {
  font-family: "Red Hat Text";
  src: locale("Red Hat Text"), url("./font/static/RedHatText-Regular.ttf");
}

@font-face {
  font-family: "Red Hat Text";
  src: locale("Red Hat Text"), url("./font/static/RedHatText-Bold.ttf");
  font-weight: bold;
}

@keyframes tabFront {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(-180deg);
  }
}

@keyframes tabBack {
  0% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(0);
  }
}

:root {
  --primary-color: hsl(0, 100%, 67%);
  --background-color-dark: hsl(235, 16%, 14%);
  --background-color-light: hsl(275, 23%, 14%);
  --container-background-light-color: hsl(236, 21%, 26%);
  --container-background-dark-color: hsl(236, 21%, 26%);
  --text-light-color: hsl(237, 18%, 59%);

  --tab-animation-duration: 700ms;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;

  @media (width < 345px) {
    font-size: 50%;
  }

  @media (width < 286px) {
    font-size: 40%;
  }
}

body {
  font-family: "Red Hat Text";
  background-image: url("./images/bg-stars.svg"),
    linear-gradient(
      to bottom,
      var(--background-color-dark) 0%,
      var(--background-color-light) 95%,
      var(--background-color-light) 100%
    );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top, center;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 13.2rem;
  margin-inline: 2rem;
  color: white;
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 0.75rem;
  text-transform: uppercase;
  text-align: center;
}

.countdown {
  --card-size: 14.8rem;
  display: flex;
  gap: 3.2rem;
  text-align: center;
  margin-top: 10.4rem;
  margin-inline: 2rem;

  .countdown-item {
    width: var(--card-size);

    &.rotated {
      [data-pasition="back"] {
        animation-name: tabBack;
        animation-duration: var(--tab-animation-duration);
        animation-timing-function: ease-in;
        animation-fill-mode: both;
      }

      [data-pasition="front"] {
        animation-name: tabFront;
        animation-duration: var(--tab-animation-duration);
        animation-timing-function: ease-in;
        animation-fill-mode: both;
      }
    }
  }

  .countdown-value {
    margin-bottom: 1.6rem;
    border-radius: 0.8rem;
    height: calc(var(--card-size) + 1rem);
    background-color: var(--background-color-dark);
    position: relative;
    perspective: 36rem;
  }

  .countdown-label {
    font-size: 1.4rem;
    letter-spacing: 0.592rem;
    font-weight: bold;
    color: var(--text-light-color);
    text-transform: uppercase;
  }

  .countdown-tab {
    height: calc(var(--card-size) / 2);
    width: 100%;
    background-color: var(--container-background-light-color);
    color: var(--primary-color);
    font-size: 8rem;
    font-weight: bold;
    overflow: hidden;
    position: absolute;
    line-height: 100%;
    transition: all 0.5s ease-in;
    backface-visibility: hidden;
    border-radius: 0.8rem;

    &[data-pasition="top"] {
      top: 0;
      corner-shape: round round scoop scoop;
      filter: brightness(0.8);

      span {
        position: absolute;
        bottom: 0;
        transform: translate(-50%, 50%);
      }
    }

    &[data-pasition="back"] {
      top: calc(var(--card-size) / 2);
      corner-shape: scoop scoop round round;
      transform: rotateX(180deg);
      transform-origin: top center;
      box-shadow: 0 2px 2px rgb(0 0 0 / 0.25);

      span {
        position: absolute;
        top: 0;
        transform: translate(-50%, -50%);
      }
    }

    &[data-pasition="front"] {
      top: 0;
      corner-shape: round round scoop scoop;
      filter: brightness(0.8);
      transform-origin: bottom center;
      box-shadow: 0 -2px 2px rgb(0 0 0 / 0.25);

      span {
        position: absolute;
        bottom: 0;
        transform: translate(-50%, 50%);
      }
    }

    &[data-pasition="down"] {
      top: calc(var(--card-size) / 2);
      corner-shape: scoop scoop round round;

      span {
        position: absolute;
        top: 0;
        transform: translate(-50%, -50%);
      }
    }
  }
}

footer {
  margin-top: auto;
  padding-top: 3rem;
  width: 100%;
  height: 19.7rem;
  background-image: url("./images/pattern-hills.svg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.social {
  display: flex;
  gap: 3.2rem;

  a:hover {
    filter: brightness(0.8);
  }
}

@media (width < 740px) {
  h1 {
    margin-top: 14.2rem;
    font-size: 1.8rem;
  }

  .countdown {
    --card-size: 7rem;
    gap: 1.6rem;
    margin-top: 5.4rem;

    .countdown-tab {
      font-size: 3.6rem;
      border-radius: 0.4rem;
    }

    .countdown-label {
      font-size: 0.7rem;
      letter-spacing: 0.296rem;
    }
  }

  footer {
    margin-top: auto;
    padding-top: 7rem;
    height: 15rem;
    background-position: top right;
  }
}
